
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChiTiet</title>
</head>
<body>
    <div> 
        Đây là sách tên: @ViewBag.TenSach;
    </div>
</body>
</html>
