@using Tutorial.Models;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/cart.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    @{
        Cart cart = (Cart)Session["cart"];
        if (cart == null)
        {
            cart = new Cart();
            Session["cart"] = cart;
        }
    }
    @Html.Action("Search", "Home")
    <a href="~/Cart/thongtingiohang">
        @if (cart.countItem() > 0)
        {
            <h3> có @cart.countItem() sản phẩm trong giỏ hàng</h3>
        }
    </a>
    @if (Session["user"] == null)
    {
        <a href="~/KhachHang/DangNhap">Đăng nhập</a>
        <a href="~/KhachHang/DangKy">Đăng kí</a>
    }
    @Html.Action("ListSach", "Sach")
</body>
</html>
