
<!DOCTYPE html>
<html>
<head>
    <title>header</title>
</head>
<body>
    <a href="~/Home/index">
        <img src="~/images/LOGO.png" style="height: 50px;  width: 50px" />
        <div>ABC</div>
    </a>

    <form>
        <input type="text" placeholder="Nhập từ khóa cần tìm..">
        <button type="submit">Tìm kiếm</button>
    </form>
</body>
</html>

